# .htaccess для папки /8j0rn/
Options +ExecCGI
AddHandler wsgi-script .wsgi
DirectoryIndex index.wsgi

# Включаем перезапись
RewriteEngine On
RewriteBase /8j0rn/

# Если запрашивается корень - отправляем на index.wsgi
RewriteRule ^$ index.wsgi [L]

# Все остальные запросы
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.wsgi/$1 [L,QSA]